<a href=https://www.debian.org><img id=debian src=/debian.png alt=debian></a>
<a href=https://www.fsf.org><img id=copyleft src=/copyleft.png alt=copyleft></a>
<a href=https://www.mozilla.org/en-US/firefox><img id=firefox src=/firefox.png alt=firefox></a>
<a href=https://www.counter-strike.net><img id=cstrike src=/cstrike.gif alt=cstrike></a>
<br>
<a href=https://gitlab.com/renken/shione>source code</a>
