{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>

<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}

<content>
  {{ .Content }}
</content>

<p>
  {{ with .PrevInSection }}
    <a class="previous" href="{{.RelPermalink}}"> << {{.Title}}</a>
  {{ end }}
  {{ with .NextInSection }}
    <a class="next" style="float: right;" href="{{.RelPermalink}}"> {{.Title}} >></a>
  {{ end }}
</p>
{{ end }}
